
.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-tim-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-tim-container:not(.manual-flip):hover .card-tim,
.card-tim-container.hover.manual-flip .card-tim{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-tim-container.static:hover .card-tim,
.card-tim-container.static.hover .card-tim {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card-tim {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14) !important;
}


/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */


.card-tim{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
		background-color: #FFFFFF !important;
		border-left: 1px solid #eee !important;
		margin-top: -6px;
}
.card-tim-container, .front, .back {
	width: 95%;
	height: auto;
	border-radius: 4px;
	margin-left: 3%;
}
.card-tim .cover{
    height: 105px;
    overflow: hidden !important;
    border-radius: 4px 4px 0 0;
}
.card-tim .cover img{
    width: 100%;
}
.card-tim .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card-tim .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card-tim .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card-tim .content .main {
		min-height: 160px;
}
.card-tim .back .content .main {
    height: auto;
}
.card-tim .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card-tim h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card-tim .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card-tim .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 60px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card-tim .footer .social-links{
    font-size: 18px;
		padding: 0 0 10px;
}
.card-tim .footer .social-links a{
    margin: 0 7px;
}
.card-tim .footer .btn-simple{
    margin-top: 50px;
}
.card-tim .header {
    padding: 15px 20px;
    height: 90px;
}
.card-tim .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card-tim .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card-tim .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card-tim .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card-tim .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card-tim .stats h4{
	font-weight: 300;
	margin-bottom: 5px;
}
.card-tim .stats p{
	color: #777777;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-tim-container:not(.manual-flip):hover .back,
    .card-tim-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}
